@model IEnumerable<TradeApp.Data.CartProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.MRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.MRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.id">View</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
