@model TradeApp.Models.Product.Admin.DetailVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>Image</span>
        </dt>
        <dd class="col-sm-10">
            <img src=@Model.ImageUrl class="imagelist" alt="No Image">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
