@model TradeApp.Models.Product.DetailVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt>
            <span>Image</span>
        </dt>
        <dd class="col-sm-10">
            <img src=@Model.ImageUrl class="imagelist" alt="No Image">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgRating)
        </dd>
    </dl>
    <label asp-for="Quantity"></label>
    <input type="number" asp-for="@Model.Quantity" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
    <br /><br />
</div>
<div>
    <a asp-controller="Carts" asp-action="AddProduct" asp-route-productid="@Model.Code" asp-route-quantity= "1" >Add to Cart</a> |
    <a asp-controller="Orders" asp-action="AddProduct" asp-route-productid="@Model.Code" asp-route-quantity= "1">Buy Now</a> |
    <a asp-controller="Wishlists" asp-action="AddProduct" asp-route-productid="@Model.Code">Add to Wishlist</a> |
    <a asp-action="Index">Back to List</a>
</div>
